.button-bottom-right{
    position: fixed;
    bottom: 25px;
    right: 25px;
    --background: linear-gradient(270deg, rgb(86, 91, 122) 0%, rgb(171, 165, 223) 20%, rgb(98, 106, 133) 90%, rgb(43, 41, 56) 100%) !important;
}
