<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        icon="arrow-back-circle-outline"
        size="large">
      </ion-back-button>
    </ion-buttons>
    
    <ion-title>Ingresar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-button routerLink="/ingreso-dia" fill="solid" class="button-bottom-right menu-button-2" style="height: 50px;">
    <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>


</ion-content>
