.button-bottom-right{
    position: fixed;
    bottom: 25px;
    right: 25px;
    --background: linear-gradient(270deg, rgb(115, 122, 86) 0%, rgb(203, 223, 165) 20%, rgb(118, 133, 98) 90%, rgb(50, 56, 41) 100%) !important;
}