<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        icon="arrow-back-circle-outline"
        size="large">
      </ion-back-button>
    </ion-buttons>

    <ion-title>Sugerencias</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="card-sub-style">Una correcta alimentación</ion-card-subtitle>
      <ion-card-title class="card-title-style">3 Veces al día?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-text-style">
      Todos hemos oído de la tradición de las 3 comidas al día (Desayuno, almuerzo y cena).
      <br><br>
      Sin embargo, de mano directa de la OMS la recomendación es de llevar a cabo 5 comidas al día.
      <br>
    </ion-card-content>
      <img src="/assets/5comidas.jpg" alt="">
    <ion-card-content class="card-text-style">
      <br>
      De todas formas, la mejor forma de bajar de peso siempre será el mantener una Alimentación sana
      y una rutina equilibrada.
      <br><br>
      <ion-button slot="end" expand="block" fill="outline" shape="round" href="https://www.welthy.es/blog/cuantas-veces-debo-comer-al-dia/" target="_blank" style="color: ivory;">
        Fuente
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="card-sub-style">Mantén cada día al día</ion-card-subtitle>
      <ion-card-title class="card-title-style">Controla tu Alimentación</ion-card-title>
    </ion-card-header>
    <img src="/assets/dieta.jpg" alt="">
    <ion-card-content class="card-text-style">
      Para mantener una Alimentación sana, en nuestra aplicación puedes crear tu própia Dieta y Rutina 
      para los 7 días de la semana.
      <br><br>
      Cuenta cada una de las Calorías que consumirás para no superar tu própio límite.
      <br><br>
      <ion-button routerLink="/ing-dieta" slot="end" expand="block" fill="outline" shape="round" target="_blank" style="color: ivory;">
        Agrega la Dieta a tu Día
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
