.menu-button-1{
    --background: linear-gradient(270deg, rgb(86, 91, 122) 0%, rgb(171, 165, 223) 20%, rgb(98, 106, 133) 70%, rgb(43, 41, 56) 100%) !important;
    --color: rgb(249, 255, 236);
    font-style: italic;
    font-size: 15px;
}