

.menu-button-1{
    --background: linear-gradient(270deg, rgb(114, 122, 86) 0%, rgb(203, 223, 165) 20%, rgb(126, 133, 98) 70%, rgb(49, 56, 41) 100%) !important;
    --color: rgb(249, 255, 236);
    font-style: italic;
    font-size: 11px;
}

.menu-button-2{
    --background: rgba(206, 209, 200, 0.678);
    --color: rgb(255, 255, 255);
    font-style: italic;
}

.icon-color-1{
    color: rgb(255, 255, 255);
}

.item-background-color{
    --ion-item-background:linear-gradient(90deg, rgb(100, 122, 86) 0%, rgb(203, 223, 165) 20%, rgb(117, 133, 98) 90%, rgb(43, 41, 56) 100%) !important;
    padding: 20px;
}

.button-bottom-right{
    position: fixed;
    bottom: 25px;
    right: 25px;
    --background: linear-gradient(270deg, rgb(115, 122, 86) 0%, rgb(203, 223, 165) 20%, rgb(118, 133, 98) 90%, rgb(50, 56, 41) 100%) !important;
}

