<ion-header>
  <ion-toolbar>

    <ion-title style="text-align: center;">Inicio</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
    <ion-button (click)="loginAlertPrompt()" fill="solid" class="menu-button-1">
      <ion-icon slot="start" name="enter"></ion-icon>
      Iniciar Sesión
    </ion-button>
    <ion-button (click)="registroAlertPrompt()" fill="solid" class="menu-button-1">
      <ion-icon slot="start" name="exit"></ion-icon>
      Registrarse
    </ion-button>
  </div>

  <div>
      
    <ion-list class="item-background-color">
      
      <ion-item *ngFor="let m of botonesMenu"
          [routerLink] = "m.redirecTo"
          detail = "true"
          style="color: rgb(255, 255, 255);">

          <ion-icon [name]="m.icon" slot="start" class="icon-color-1"></ion-icon>

          {{m.name}}

      </ion-item>
    </ion-list>

  </div>

  <ion-button (click)="configAlertCheckbox()" fill="solid" class="button-bottom-right menu-button-2" style="height: 50px;">
      <ion-icon slot="icon-only" name="construct"></ion-icon>
  </ion-button>


</ion-content>
